@model Song

@{ 
    ViewBag.Title = ViewBag.Action + " song";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name - @Model.Year</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="SongId" />
    <button class="btn btn-warning" type="submit">Delete</button>
    <a class="btn badge-light" asp-controller="Home" asp-action="Index">Cancel</a>
</form>